header
{
    display: grid;
    /* grid-template-columns: 48px 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: clamp(64px, 2vw + 1rem, 96px);
    position: relative;
}

header .scoot-logo
{
    align-self: center;
    justify-self: center;
}

header .mobile-menu-icon
{
    align-self: center;
    margin-left: 34px;
}

header .close-menu-icon
{
    display: none;
    align-self: center;
    position: absolute;
    margin-left: 34px;
}

.mobile-nav
{
    display: none;
    width: 256px;
    height: 720px;
    background-color: #333A44;
    position: fixed;
    left: 0;
    overflow-y: hidden;
    z-index: 2;
}
.mobile-menu {
    width: 100%;
    background-color: #333A44;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.mobile-menu ul {
    height: 100%;
    margin: 0 0 0 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 1fr; */
}
.mobile-menu ul li {
    list-style-type: none;
}
.mobile-menu ul li a {
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-size: 1.125rem;
    color: #E5ECF4
}
.mobile-menu ul li:last-child{
    margin-top: 526px;
    margin-bottom: 1.5rem;
    /* align-self: center; */
}