.hero
{
    height: 100vh;
    background-image: url('../assets/images/home-hero-mobile.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding: 115px 32px 0 32px;
    position: relative;
}
.hero h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(2.5rem, 2vw + 1rem, 3.5rem);
    line-height: clamp(2.5rem, 2vw + 1rem, 3.5rem);
    color: #FFFFFF;
}
.hero p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    margin-top: 1.5rem;
    margin-bottom: 2.125rem;
}

.hero .svg-hero-container
{
    position: absolute;
    bottom: 34px;
    left: -300px;
}
/* ----------------------------------------------------------------------------- */
.instructions-container {
    margin: 7.5rem 2rem;
}
.instructions-container .instruction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.instructions-container .instruction:nth-child(2) {
    margin: 3rem 0;
}
.instruction .instruction-copy h2 {
    margin: 1.5rem 0;
    font-family: 'Space Mono', monospace;
    font-size: (1.25rem, 2vw + 1rem, 1.25rem);
    line-height: 1.75rem;
    color: #495567;
}
.instruction .instruction-copy p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    line-height: 1.563rem;
    color: #939CAA;
}
/* ----------------------------------------------------------------------------- */
.features-container {
    padding: 7.5rem 2rem;
    position: relative;
    overflow-x: hidden;
}
.features-container .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.feature:nth-child(2) {
    margin: 7.5rem 0;
}
.feature .feature-arrow-container-telemetry {
    position: absolute;
    width: 100%;
    height: 100%;
}
.feature-arrow-container-telemetry svg {
    position: relative;
    top: 185px;
    left: 30px;
}
.feature .feature-arrow-container-city {
    position: absolute;
    width: 100%;
    height: 100%;
}
.feature-arrow-container-city svg {
    position: relative;
    top: 20px;
    right: 210px;
}
.feature .feature-arrow-container-payments {
    position: absolute;
    width: 100%;
    height: 100%;
}
.feature-arrow-container-payments svg {
    position: relative;
    top: -10px;
    left: 120px;
}
.feature img {
    border-radius: 50%;
}
.feature-copy h2 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(2rem, 2vw + 1rem, 3rem);
    line-height: clamp(2rem, 2vw + 1rem, 3rem);
    color: #495567;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}
.feature-copy p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    line-height: 1.563rem;
    color: #939CAA;
    margin-bottom: 2rem;
}
@media screen and (min-width: 768px)
{
    .hero
    {
        background-image: url('../assets/images/home-hero-tablet.jpg');
    }
}

@media screen and (min-width: 1440px)
{
    .hero
    {
        background-image: url('../assets/images/home-hero-desktop.jpg');
    }
}