header {
    display: grid;
    /* grid-template-columns: 48px 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: clamp(64px, 2vw + 1rem, 96px);
    position: relative;
}
header .scoot-logo {
    align-self: center;
    justify-self: center;
}
header .mobile-menu-icon {
    align-self: center;
    margin-left: 34px;
}
header .close-menu-icon {
    display: none;
    align-self: center;
    position: absolute;
    margin-left: 34px;
}
.mobile-nav {
    display: none;
    width: 256px;
    height: 100%;
    background-color: #333A44;
    position: fixed;
    left: 0;
    overflow-x: hidden;
}